<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools" package="conrado.gabriel.ragdoll">

    <application
            android:allowBackup="false"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".activity.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".activity.FinancesActivity"
                android:label="@string/finances_title"/>
        <activity
                android:name=".activity.DataManagementActivity"
                android:label="@string/data_management_title"/>
        <activity
                android:name=".activity.SaleActivity"
                android:label="@string/sale_execution_title"/>
        <activity
                android:name=".activity.DataExploreActivity"
                android:label="@string/data_explore_title"/>
    </application>

</manifest>